body{font-family: 'Poppins', sans-serif;}

.navbar{background-color: #C6FFE0;}

.btn-readmore{background-color:  #A6D8C1;}

.first-section{background-color: #C6FFE0;;}

.first-section-card{background-color: white;
    width: 284px;
    height: 52px;
}
.heading-our-framework{font-weight: 400;}
.heading-first-section{font-weight: 600;
    font-size: 70px;
}
.p-first-section{font-size: 20px;}


.dashed-first-card-arrow-right{border: 1px dashed #000}
.heading-foto-card{
height: 390px;
width: 518px;}



.haeding{
    font-size: 61px;
    font-weight: 500;
}

.paragraf{
    font-size: 21px;
    font-weight: 400;
}

.Ourframework{background-color: #19303D; 
color: white;}

.heading-card{     font-size: 31px;
    font-weight: 500; }

    .arrow{margin-left: -54px;}


    .dashed {
        border: 3px dashed #000;
      }
      
      
      