body{font-family: 'Poppins', sans-serif;}

.navbar{background-color: #C6FFE0;}

.btn-readmore{background-color:  #A6D8C1;}

.first-section{background-color: #C6FFE0;;}

.first-section-card{background-color: white;
    width: 284px;
    height: 52px;
}
.heading-our-framework{font-weight: 400;}
.heading-first-section{font-weight: 600;
    font-size: 70px;
}
.p-first-section{font-size: 20px;}


.dashed-first-card-arrow-right{border: 1px dashed #000}
.heading-foto-card{
height: 390px;
width: 518px;}

.third-section-img{height: 534px;
    width: 628px;}

.dashed-third-section-icon{border: 2px dashed #000}

.third-section-icon{margin-left: -267px;}
.icon-card{    margin: 100px;}

.haeding{
    font-size: 61px;
    font-weight: 500;
}

.paragraf{
    font-size: 21px;
    font-weight: 400;
}

.Ourframework{background-color: #19303D; 
color: white;}

.heading-card{     font-size: 31px;
    font-weight: 500; }

    .arrow{margin-left: -54px;}


    .dashed {
        border: 3px dashed #000;
      }
      
      
      .fifth-section{background-color: #19303D;
        color: white;
    }      
    .img-fifth-section{width: 848px;
        height: 594.64px;}
        .btn-primary{    background-color: #13e5c0 !important;
            border-color: #13e5c0 !important;
            color: #19303d !important;}

            .div-fifth-section{    margin-left: -17px;}


/* animation */

.div-img-fifth-section:hover .img-fifth-section {
    
    transform: scale(1.1);
}
.img-fifth-section{
    transition: all .3s  ;
    border-radius: 10px;
}

.third-section-img:hover{
    margin-top: 15px;
    transition: all .3s  ;
}

.third-section-icon-arrow:hover{
    margin-top: -20px;
    transition: all .2s
}

.first-section:hover .first-section-card {margin-left: 360px;
    transition: all .1s  ;
}