body{font-family: 'Poppins', sans-serif;}

.navbar{background-color: #C6FFE0;}

.btn-readmore{background-color:  #A6D8C1;}

.first-section{background-color: #C6FFE0;;}

.first-section-card{}


.haeding{
    font-size: 61px;
    font-weight: 500;
}

.paragraf{
    font-size: 21px;
    font-weight: 400;
}

.Ourframework{background-color: #19303D; 
color: white;}

.heading-card{     font-size: 31px;
    font-weight: 500; }

    .arrow{margin-left: -54px;}


    .dashed {
        border: 3px dashed #000;
      }
      
      
      